include ../../templates/head
body.dark-mode.sidebar-mini.layout-fixed.layout-navbar-fixed.layout-footer-fixed.wrapper
    include ../../templates/topbar
    include ../../templates/sidebar-guild
    .content-wrapper
        include ../../templates/breadcrumbs
        section.content.container-fluid
            include ../../templates/cookieBanner
            if saved
                .alert.alert-success.alert
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-check
                        | Daten übernommen
                    | Deine Einstellungen wurden erfolgreich gespeichert.
            if saveFailure
                .alert.alert-danger.alert
                    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") ×
                    h5
                        i.icon.fas.fa-times
                        | Fehler beim Speichern
                    | Deine Einstellungen konnten nicht gespeichert werden. Bitte versuche es erneut, oder kontaktiere den Support.
            .callout.callout-info
                h5 Zusammenfassung
                p Lege fest, welche Rollen doppeltes XP bekommen sollen
            .card.card-default
                .card-header
                    h3.card-title Einstellungen
                    .card-tools
                        button.btn.btn-tool(type='button', data-card-widget='collapse')
                            i.fas.fa-minus
                .card-body
                    .row
                        .col-md-6
                            form(action=`/dashboard/${guild.id}/levelsystem/doublexp/save` method='post')
                                .form-group
                                    label(data-toggle="tooltip" data-placement="top" title="Wähle, welche Rollen doppeltes XP erhalten sollen") Doppel-XP
                                    select.form-control(name="doublexp" autocomplete="off" class="selectpicker" multiple data-live-search="true")
                                        each role in [...guild.roles.cache]
                                            if role[1].id !== guild.id && !role[1].managed
                                                option(value=role[1].id, selected=(guildData.settings.levels ? guildData.settings.levels.doubleXP.includes(role[1].id) : false)) #{role[1].name}

                                button.btn.btn-block.btn-primary(type='submit') Speichern
include ../../templates/footer