footer.main-footer
    strong
        | Copyright &copy; 2023&nbsp;
        a(href='https://nevar.eu') Nevar.eu
        | . All rights reserved.
    .float-right.d-none.d-sm-inline-block
        strong
            | Designed by&nbsp;
            a(href='https://adminlte.io') AdminLTE.io

// JS
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/adminlte.min.js')
script(src='/js/bootstrap-touchspin.min.js')
script(src='/js/bootstrap-select.min.js')

// Custom JS
script.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });