footer.main-footer
    strong
        | Copyright &copy; 2023&nbsp;
        a(href='https://nevar.eu') Nevar.eu
        | . All rights reserved.
    .float-right.d-none.d-sm-inline-block
        strong
            | Designed by&nbsp;
            a(href='https://adminlte.io') AdminLTE.io

// JS
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/adminlte.min.js')
script(src='/js/bootstrap-touchspin.min.js')
script(src='/js/bootstrap-select.min.js')

// Custom JS
script.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(function () {
        $('.fixed-bottom').css("pointer-events", "none");

        if (getCookie("cookieConsent") === null) {
            $('.toast').toast('show')
            $('.fixed-bottom').css("pointer-events", "auto");
        }

        $("#cookie-accept").click(function () {
            $('.toast').toast("hide");
            $('.fixed-bottom').css("pointer-events", "none");
            setCookie("cookieConsent", "true", 365);
        });

        $("#cookie-deny").click(function () {
            $('.toast').toast("hide");
            $('.fixed-bottom').css("pointer-events", "none");
            setCookie("cookieConsent", "false", 365);
        });
    });

    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function getCookie(name) {
        const nameEQ = name + "=";
        const cookies = document.cookie.split(";");
        for (const element of cookies) {
            let cookie = element;
            while (cookie.charAt(0) === " ") {
                cookie = cookie.substring(1, cookie.length);
            }
            if (cookie.indexOf(nameEQ) === 0) {
                return cookie.substring(nameEQ.length, cookie.length);
            }
        }
        return null;
    }