doctype html
html(lang='de')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title= client.user.username + " - " + title
        link(rel='icon', href=client.user.displayAvatarURL(), type='image/x-icon')

        // CSS
        link(rel='stylesheet' href='/css/style.min.css')
        link(rel='stylesheet' href='/css/select2/select2.min.css')
        link(rel='stylesheet' href='/css/select2/select2-bootstrap4.min.css')
        link(rel='stylesheet' href='/css/fontawesome/css/all.min.css')
        link(rel='stylesheet' href='/css/bootstrap-touchspin.min.css')
