// Top Navbar
nav.main-header.navbar.navbar-expand.navbar-dark
    // Linke Seite
    ul.navbar-nav
        li.nav-item
            a.nav-link(data-widget='pushmenu', href='#', role='button')
                i.fas.fa-bars
            li.nav-item.d-none.d-sm-inline-block
                a.nav-link(href='/dashboard') Server-Auswahl
            li.nav-item.d-none.d-sm-inline-block
                a.nav-link(href='https://nevar.eu' target='_blank' rel='noopener') Website
            li.nav-item.d-none.d-sm-inline-block
                a.nav-link(href='https://nevar.eu/support' target='_blank' rel='noopener') Support
    // Rechte Seite
    ul.navbar-nav.ml-auto
        li.nav-item
            a.nav-link(href='/auth/logout', role='button' data-toggle="tooltip" data-placement="left" title="Abmelden")
                i.fa-solid.fa-right-from-bracket