include ./templates/head
body.login-page.dark-mode
    include ./templates/cookieBanner
    .login-box
        .card.card-outline.card-primary
            .card-header.text-center
                h1
                    b #{client.user.username}
                    | Dash
            .card-body
                p.login-box-msg Melde dich an, um loszulegen
                .social-auth-links.text-center.mt-2.mb-3
                    a.btn.btn-block.btn-primary(href='/auth/login')
                        i.fa-brands.fa-discord
                        |  Mit Discord anmelden

// JS
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/adminlte.min.js')

script.
    $(function () {
        if (getCookie("cookieConsent") === null) {
            $('.toast').toast('show')
        }

        $("#cookie-accept").click(function () {
            $('.toast').toast("hide");
            setCookie("cookieConsent", "true", 365);
        });

        $("#cookie-deny").click(function () {
            $('.toast').toast("hide");
            setCookie("cookieConsent", "false", 365);
        });
    });

    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function getCookie(name) {
        const nameEQ = name + "=";
        const cookies = document.cookie.split(";");
        for (const element of cookies) {
            let cookie = element;
            while (cookie.charAt(0) === " ") {
                cookie = cookie.substring(1, cookie.length);
            }
            if (cookie.indexOf(nameEQ) === 0) {
                return cookie.substring(nameEQ.length, cookie.length);
            }
        }
        return null;
    }