include ./templates/head
body.login-page.dark-mode
    .login-box
        .card.card-outline.card-primary
            .card-header.text-center
                h1
                    b #{client.user.username}
                    | Dash
            .card-body
                p.login-box-msg Melde dich an, um loszulegen
                .social-auth-links.text-center.mt-2.mb-3
                    a.btn.btn-block.btn-primary(href='/auth/login')
                        i.fa-brands.fa-discord
                        |  Mit Discord anmelden

// JS
script(src='/js/jquery.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/adminlte.min.js')